{% extends "layout.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% for project in data %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th></th>
                {% for query_result in project['data'] %}
                  <th><a href="{{query_result['gql_query_url']}}" target="_blank">{{query_result['name']}}</a></th>
                {% endfor %}
              </tr>

              <tr>
                <td style="text-align:center;"><b>{{project['slug'].upper()}}</b></td>
                {% for query_result in project['data'] %}
                  <td title="{{project['slug'].upper()}} {{query_result['name']}}" style='background-color:{{query_result["color"]}};text-align:center;'>{{query_result['status']}}</td>
                {% endfor %}
              </tr>
            </table>
          </div>
        {% endfor %}
        </br>
      </div>
    </div>
  </div>
{% endblock %}
