{% extends "menu.html" %}

{% block content %}
  <div>
    <table>

    </table>
  </div>
  <ul id="navigation">
    <table>
      <tr>
        <th>Executed at</th>
        <th>Classic</th>
        <th>Performance</th>
        <th>Debug</th>
      </tr>
      {% for test_suite in test_suites %}
        <tr>
          <td>{{ test_suite.started_at_short() }}
          <td><a href="classic/{{ test_suite.id }}">view</a></td>
          <td><a href="performance/{{ test_suite.id }}">view</a></td>
          <td><a href="debug/{{ test_suite.id }}">view</a></td>
        </tr>
      {% endfor %}
    </table>
  </ul>
{% endblock %}